<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excellent Financial Health</title>
</head>
<body>
    <h1>Your Financial Health: Excellent</h1>
    <p>A champion is able to build wealth for long-term goals (such as retirement and investments that generate 
        recurring income) with a greater understanding of the financial solutions available to them. 
        Consistency in their organization has created the habit of setting spending limits, focusing on priorities, 
        and putting aside the money they need to live comfortably for the future.</p>
</body>
</html>