<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Health: Excellent</title>
    <link rel="stylesheet" href="/static/css/result.css">
</head>
<body>
    <div class="container">
        <h1>Your Financial Health: Excellent
        </h1>
        <p>
            A champion is able to build wealth for long-term goals (such as retirement and investments that generate 
            recurring income) with a greater understanding of the financial solutions available to them. 
        </p> 
        <p>
            Consistency in their organization has created the habit of setting spending limits, focusing on priorities, 
            and putting aside the money they need to live comfortably for the future.
        </p>
        <a href="https://conectapro.tech/" class="cta-link" target="_blank">Learn more about Conecta</a>
    </div>
</body>
</html>