
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Health: Poor</title>
    <link rel="stylesheet" href="/static/css/result.css">
    <script src="/static/js/app.js" defer></script>
</head>
<body>
    <div class="container">
        <h1>Your Financial Health: Dreamer  ☁️</h1>
        <h2>Risk level: High</h2>
        <p>
            A dreamer is someone who has the desire to improve financial control, 
            but does not know exactly how much they earn and spend. 
            By not having clear goals due to a lack of planning, you expect
            external short-term solutions and forget that financial life is the result
            of personal decisions and long-term attitudes.
        </p> 
        <p>
            You not always save
            or invest appropriately due to a lack of knowledge of financial product options.
        </p>
        <br>
        <a href="https://conectapro.tech/" class="cta-link" target="_blank">Learn more about Conecta</a>
        <button onclick="copyToClipboard()" class="cta-link">Share your result!</button>
    </div>
</body>
</html>