<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Health: Stabke</title>
    <link rel="stylesheet" href="/static/css/result.css">
    <script src="/static/js/app.js" defer></script>
</head>
<body>
    <div class="container">
        <h1>Your Financial Health: Stable</h1>
        <p>
            A fighter is aware that dreams require sacrifices. 
            In addition to recording expenses to have greater control when spending,
            you has short-term goals such as paying off debts and reducing expenses
            to have more money at the end of the month. 
        </p>   
        <p>
            Although sometimes there is money left over 💵, 
            it is not always saved or invested in the right way due to a lack of knowledge of financial product options.
        </p>
        <a href="https://conectapro.tech/" class="cta-link" target="_blank">Learn more about Conecta</a>
        <button onclick="copyToClipboard()" class="cta-link">Share your result!</button>
    </div>
</body>
</html>

