<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Health: Good</title>
    <link rel="stylesheet" href="/static/css/result.css">
    <script src="/static/js/app.js" defer></script>
</head>
<body>
    <div class="container">
        <h1>Your Financial Health: Ninja  🥷</h1>
        <h2>Risk level: Low</h2>
        <p>
            A ninja is clear about their sources of income and what categories of fixed and variable expenses they have.
        You know that there are no dreams without clear plans. To do this, you create goals for longer periods 
        of 3, 6, and even 12 months. You know that unforeseen events happen and have built up (or is building up) a 
        financial reserve to know how to deal with them.
        </p> 
        <br>
        <a href="https://conectapro.tech/" class="cta-link" target="_blank">Learn more about Conecta</a>
        <button onclick="copyToClipboard()" class="cta-link">Share your result!</button>
    </div>
</body>
</html>