<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Financial Health</title>
</head>
<body>
    <h1>Your Financial Health: Good</h1>
    <p>A ninja is clear about his or her sources of income and what categories of fixed and variable expenses he or she has.
        He or she knows that there are no dreams without clear plans. To do this, he or she creates goals for longer periods 
        of 3, 6, and even 12 months. He or she knows that unforeseen events happen and has built up (or is building up) a 
        financial reserve to know how to deal with them.</p>
</body>
</html>