<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Very poor Financial Health</title>
</head>
<body>
    <h1>Your Financial Health: Very poor</h1>
    <p>A survivor lives day to day, constantly facing challenges to meet basic needs. 
        The lack of stable income or financial control makes planning difficult, leading
        them to rely on short-term solutions like loans, external assistance, or emergency resources.
        While they aspire to improve their situation, they often lack knowledge about financial tools 
        and strategies to turn things around. For them, the first step is to create a simple budget, 
        prioritize essential expenses, and seek basic information on managing their finances better.</p>
</body>
</html>